/* Master Styles */
body {
    margin: 0px;
    background-color: #121212;
}

.title {
    display: flex;
    justify-content: center;
    height: 150px;
    background-color: slategray;
}

.brand {
    font-size: 50px;
    height: 50px;
}

.logo-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.logo {
    position: absolute;
    margin-top: 50px;
    height: 100px;
    width: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 40px 1fr;
}

/* Nav Styles */
.nav-wrapper {
    display: flex;
    justify-content: center;
    background-color: black;
}

.nav-wrapper > div {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.nav-link-wrapper {
    height: 22px;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: slategray;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper a:hover {
    color: white;
}

.game-summary-wrapper {
    justify-content: center;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr
}

.game-summary-wrapper > div {
    margin: 0;
}

.splash-item-wrapper {
    position: relative;
    width: 100%;
}

.splash-image-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin:content-box;
}

.gameplay-video-wrapper {
    display: block;
    margin: 0px auto;
    padding: 20px;
}

.game-nav-wrapper {
    display: flex;
    justify-content: center;
    background-color: slategray;
}

.game-nav-wrapper > div {
    padding: 30px 0;
    text-align: center;
    font-size: 25px;
}

.game-nav-link-wrapper {
    width: 400px;
    transition: border-bottom 0.5s;
}

.game-nav-link-wrapper a {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}

.game-nav-link-wrapper a:hover {
    color: white;
}

/* Portfolio Styles */

.content-wrapper {
    padding: 20px;
    padding-top: 60px;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.portfolio-item-wrapper {
    position: relative;
    height: 300px;
    width: 100%;
}

.portfolio-img-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin:content-box;
}

.display-item-wrapper {
    position: relative;
    height: 600px;
    width: 100%;
}

.display-img-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-origin:content-box;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.portfolio-item-wrapper .portfolio-img-background{
    transition: 1s;
    filter: brightness(100%);
}


.portfolio-item-wrapper:hover .portfolio-img-background {
    transition: 1s;
    filter: brightness(10%);
}

.display-item-wrapper .display-img-background{
    transition: 1s;
    filter: brightness(100%);
}

.display-item-wrapper:hover .display-img-background {
    transition: 1s;
    filter: brightness(10%);
}

.img-text-wrapper .title-wrapper {
    transition: 1s;
    color: white;
}

.img-text-wrapper .subtitle-wrapper {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .title-wrapper {
    font-weight: 600;
    color: steelblue;
}

.img-text-wrapper:hover .subtitle-wrapper {
    font-weight: 600;
    color: slategray;
}

.summary-wrapper {
    color: white;
    font-size: 17px;
    line-height: 22px;
    padding: 40px;
}

.about-item-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-origin:content-box;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }